<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>GPU Sentry</title>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
          <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">GPU Sentry</h1>
              <p class="lead">Check the status of your GPUs.</p>
            </div>
          </div>

          {% for host, payload in data.items() %}
            <div style="margin-top: 20px">
              <h2>{{ payload['codename'] }} ({{ payload['name'] }})</h2>
              <hr />
              <div class="row">
                {% for gpu in payload['statistics'] %}
                  <div class="col-6">
                    <div class="card" style="margin-bottom: 15px">
                      <div class="card-header">
                        {{ gpu['name'] }} (GPU ID: {{ gpu['gpu'] }})
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                          <p>Memory: {{ gpu['memory']['utilisation'] }}% ({{ gpu['memory']['used'] }} GB / {{ gpu['memory']['total'] }} GB)</p>
                          <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: {{ gpu['memory']['utilisation'] }}%" aria-valuenow="{{ gpu['memory']['utilisation'] }}" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </li>
                      </ul>
                      <div class="card-footer">
                        <small class="text-muted float-right">Last updated {{ payload['timestamp'] }}</small>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
